@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  font-family: Poppins, "Helvetica Neue", Arial, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.group-hover\:animate-gradient:hover {
  animation: gradientShift 1.5s linear backwards;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

